<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minha Loja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="crop-image-container" (click)="presentActionSheet()">
    <img src="assets/imgs/loja.jpg" />
    <!--<img src="assets/imgs/sm.jpg"          *ngIf="imgURL === ''"/>-->
    <!-- <img [src]="storeProvider.getImageURL() + store['coverImage']" onerror="this.src='assets/imgs/sm.jpg'"/> -->
    <div class="card-title">{{store ? store.name : 'Loja'}}</div>
  </ion-card>
  

  <ion-list>
    <ion-item-divider color="light" class="border-none">
      <ion-label>
        Dados da loja
      </ion-label>
    </ion-item-divider>
    <ion-item (click)="editVariable('name', 'Nome da Loja', store.name)" lines="full">
      <ion-label>
        <h2>Nome</h2>
        <p>{{store ? store.name : ''}}</p>
      </ion-label>       
    </ion-item>
    <ion-item (click)="editVariable('accountName', 'Nome da Conta', store.accountName)" lines="none">
      <ion-label>
        <h2>Nome da conta</h2>
        <p>@{{store ? store.accountName : ''}}</p>
      </ion-label>      
    </ion-item>    
    <ion-item-divider color="light" class="border-none">
      <ion-label>
        Telefones
      </ion-label>      
    </ion-item-divider>
    <span *ngIf="store">
      <ion-item *ngFor="let telephone of store.telephones; let i = index" (click)="editTelephone(i)" lines="full">
        <ion-label>
          <h2>{{telephone}}</h2>
        </ion-label>        
      </ion-item>
    </span>    
    <ion-item (click)="editTelephone(-1)" lines="none">
      <ion-label>
        <p>Adicionar telefone</p>
      </ion-label>      
    </ion-item>

    <ion-item-divider color="light"  class="border-none">
      <ion-label>
        Endereço
      </ion-label>      
    </ion-item-divider>
    <ion-item (click)="editAddress()" *ngIf="store.address" lines="none">
      <ion-label>
        <h2>{{store.address.address}} {{store.address.number}}{{store.address.complement ? ', ' + store.address.complement : ''}}</h2>
        <p>{{store.address.cep}} - {{store.address.city}} - {{store.address.state }}</p>
      </ion-label>      
    </ion-item>
    <ion-item (click)="editAddress()" *ngIf="!store.address" lines="none">
      <ion-label>
        <p>Adicionar endereço</p>
      </ion-label>        
    </ion-item>
  </ion-list>
</ion-content>
