<!--
  Author: Elias Lawrence
  Date: 02/04/2021

  Generated template for the ProductsPage.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="status" color="primary" class="segment-tab">
    <ion-segment-button value="available">
      <div class="text-inside-button">
        Disponível
      </div>
    </ion-segment-button>
    <ion-segment-button value="unavailable">
      <div class="text-inside-button">
        Indisponível
      </div>
    </ion-segment-button>
    <!-- <ion-segment-button value="soldOut">
      <div class="text-inside-button">
        Esgotado
      </div>
    </ion-segment-button> -->
  </ion-segment>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="light" (click)="newProduct($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div [ngSwitch]="status">
    <ion-list *ngSwitchCase="'available'">
      <div *ngFor="let item of products; let i = index">
        <ion-item lines="full" *ngIf="item.available" (click)="itemTapped(item.id)">
          <ion-thumbnail slot="start" *ngIf="item.images && item.images[0]">
            <img [src]="url + item.images[0].image" onerror="this.src='assets/imgs/sm.jpg'"/>
            <!-- <img src="{{item.imagesList && item.imagesList[0] ? item.imagesList[0].src : 'assets/imgs/sm.jpg'}}">             -->
          </ion-thumbnail>
          <ion-thumbnail slot="start" *ngIf="!item.images || !item.images[0]">
            <img src="assets/imgs/sm.jpg"/>
          </ion-thumbnail>

          <ion-label>
            <p>
              {{item.code}}
            </p>

            <div class="line-break">
              <h2>{{item.name}}</h2>
            </div>

            <div class="same-line">
              <h2>R$ {{item.price}}</h2> <!-- <p> x {{item.qty}}{{item.unity}}</p> -->
            </div>
          </ion-label>
          
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'unavailable'">
      <div *ngFor="let item of products; let i = index">
        <ion-item lines="full" *ngIf="!item.available" (click)="itemTapped(item.id)">
          <ion-thumbnail slot="start">
            <img [src]="url + item.images[0].image" onerror="this.src='assets/imgs/sm.jpg'"/>
            <!-- <img src="{{item.imagesList &&item.imagesList[0] ? item.imagesList[0].src : 'assets/imgs/sm.jpg'}}">             -->
          </ion-thumbnail>

          <ion-label>
            <p>
              {{item.code}}
            </p>

            <div class="line-break">
              <h2>{{item.name}}</h2>
            </div>

            <div class="same-line">
              <h2>R$ {{item.price}}</h2> <!-- <p> x {{item.qty}}{{item.unity}}</p> -->
            </div>
          </ion-label>
                   
        </ion-item>
      </div>
    </ion-list>

    <!-- <ion-list *ngSwitchCase="'soldOut'">
      <div *ngFor="let item of products; let i = index">
        <ion-item lines="full" *ngIf="item.qty <= 0" (click)="itemTapped(item.code)">
          <ion-thumbnail slot="start">
            <img src="{{item.imagesList[0] ? item.imagesList[0].src : 'assets/imgs/sm.jpg'}}">            
          </ion-thumbnail>

          <ion-label>
            <p>
            {{item.code}}
          </p>

          <div class="line-break">
            <h2>{{item.productName}}</h2>
          </div>

          <div class="same-line">
            <h2>R$ {{item.price}}</h2> <p> x {{item.qty}}{{item.unity}}</p>
          </div>
          </ion-label>          
        </ion-item>
      </div>
    </ion-list> -->
  </div>
</ion-content>