.photoslide{
    position: absolute;
    bottom: 10%;

    white-space: nowrap; 
    overflow-x: auto; 
    height: 100px;    
    div{
        display: inline-block; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-right: 5px; 
        padding-left: 5px; 
        height: 100%;

        img{
            height: 100%;
            border-radius: 15px;
        }
    }
}

ion-grid {
    margin-top: 20%;

    img {        
        max-height: 150px;

        max-width: fit-content;
        border-radius: 15px;
    }
}

.img-selected{
    border: 3px solid white;//var(--ion-color-primary);
    padding: 0;
    // margin-right: 5px;
    // margin-left: 5px;
    filter: brightness(60%);
}

ion-card{
    margin: 0;
}